<div ng-controller="AdminTeamController">
    <div class="admin_list_container">
        <h3>Teams</h3>

        <ul class="admin_list">
            <li ng:click="selectTeam($index)" ng-repeat="team in teamAdminData.teams" class="selected_{{team.selected}}">
                {{team.teamName}}
            </li>
        </ul>
        <div class="admin_button_container">
            <table>
                <tr>
                    <td><button ng:click="newTeam()">New</button></td>
                    <td><button ng:click="deleteTeam()" ng-show="teamAdminData.selectedTeam">Delete</button></td>
                </tr>
            </table>
        </div>

    </div>
    <div ng-show="teamAdminData.selectedTeam" class="admin_editor">
        <tabset>
            <tab heading="Team">
                <table>
                    <tr>
                        <td>Description</td>
                        <td>
                            <input type="text" ng-model="teamAdminData.selectedTeam.description" required ng-trim="true">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button ng:click="saveTeam()">Save</button>
                        </td>
                    </tr>
                </table>
            </tab>
            <tab heading="Members">
                <table>
                    <tr>
                        <td>
                            <input type="text" ng-model="teamAdminData.userToAdd" placeholder="Add user to team." typeahead="user for user in getUsers($viewValue) | filter:$viewValue" typeahead-loading="loadingUsers" class="form-control">
                            <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
                        </td>
                        <td><button ng:click="addUserToTeam()">Add</button></td>
                    </tr>
                </table>


                <div class="gridStyle" ng-grid="gridOptions">
                </div>


            </tab>
        </tabset>
    </div>
    <div ng-show="teamAdminData.createTeam" class="admin_editor">
        <h1>Create team</h1>



        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" ng-model="teamAdminData.createTeam.teamName" required ng-trim="true">
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <input type="text" ng-model="teamAdminData.createTeam.description" required ng-trim="true">
                </td>
            </tr>
            <tr>
                <td>
                    <button ng:click="createTeam()">Create</button>
                </td>
            </tr>
        </table>



    </div>


</div>