<div class="menu">
    <table>
        <tr>
            <td>
                <H3 style="margin-left: 10px; color:#CF0000">Todo</H3>
            </td>
        </tr>
    </table>
</div>
<div class="login">
    <table style="margin-top: 40px">
        <tr>

            <td>User name</td>
            <td>
                <input type="text" placeholder="User name" ng-model="createUserData.user" required/>
            </td>
        </tr>
        <tr>
            <td>
                <button ng:click="createUser()">Create user</button>
            </td>
            <td>
                <a href="" ng-click="goToLogin()">Return to login</a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{createUserData.error}}</h3>
            </td>
        </tr>
    </table>
</div>