<div>
    <h2>{{planningData.team.teamName}}</h2>
    <tabset>
        <tab heading="Backlog">
            <table>
                <tr>
                    <td>
                        <button ng:click="addSprint()">Add sprint</button>
                    </td>
                </tr>
            </table>
            <br>
            <div class="floatleft">
                <article ng-repeat="sprint in planningData.sprints" class="floatleft">
                    <header>{{sprint.name}} <button ng:click="addStory($index)">Add story</button> <button ng:click="deleteSprint($index)">Delete sprint</button></header>
                    <ul ui-sortable="planningData.sortableOptions" class="sprint stories-container" ng-model="sprint.stories">
                        <li class="stories sortable" ng-repeat="story in sprint.stories" ng-class="sortable"> {{story.name}}</li>
                    </ul>
                </article>

            </div>


        </tab>
        <tab heading="Sprint">

        </tab>
</div>