<!doctype html>
<html lang="en" class="ng-app">
<head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" media="all" href="css/todo.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/ng-grid.css" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

</head>
<body ngCloak>
<div ng-controller="MainController">

    <div class="menu" ng-controller="MenuController">
        <table>
            <tr>
                <td>
                    <H3 style="margin-left: 10px; color:#CF0000" ng:click="showPersonal()">Todo</H3>
                </td>
                <td style="margin-left: 70px">
                    <div class="dropDownMenu">
                        <li class="dropdown" >
                            <a class="dropdown-toggle">Team overview</a>
                            <ul class="dropdown-menu">
                                <li ng:click="showTeamOverview($index)" ng-repeat="team in menuData.teams">
                                    <a ng-bind="team.teamName"></a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </td>
                <td>
                    <div class="dropDownMenu">
                        <li class="dropdown" >
                            <a class="dropdown-toggle">Planning</a>
                            <ul class="dropdown-menu">
                                <li ng:click="showPlanning($index)" ng-repeat="team in menuData.teams">
                                    <a ng-bind="team.teamName"></a>
                                </li>
                            </ul>
                        </li>
                    </div>
                </td>
                <td>
                    <div class="dropDownMenu">
                        <li class="dropdown" >
                            <a class="dropdown-toggle">Admin</a>
                            <ul class="dropdown-menu">
                                <li ng:click="adminTeam()"><a>Team</a></li>
                                <li ng:click="adminUser()"><a>User</a></li>
                            </ul>
                        </li>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-view ></div>
</div>

<script data-main="js/main" src="js/external/requirejs/require.js"></script>
</body>
<!-- test -->
</html>
